<% content_for :base_url do %>
  <base href="/" >
<% end %>

<div class="page-header">
  <h1 class="text-center">Welcome to AngularJS</h1>
  <a class="btn btn-default" href="movies/new">New Movie</a>
</div>
<div ng-view></div>